.container {
    padding: 2rem 4rem 8rem 2rem;
    max-height: calc(100vh - 66px);
    overflow-y: scroll;

    .sub_container {
        display: block;
        border-radius: 10px;
        padding: 1rem;
    }

    .btn_drawer {
        position: absolute;
        top: 2%;
        left: 0;
        z-index: 1;
        background-color: #ccc;
        width: 28px;
        height: 52px;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }

}

.title_field {
    margin-bottom: 0.25rem !important;
    font-size: 1rem;
    font-weight: 500;
}

.full_width {
    width: 100% !important;
}

.btn_option {
    padding: 1rem 2rem;
    margin: 1rem 0;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 500;
    background-color: #ccc;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}