.container {
    padding: 2rem 4rem 2rem 2rem;
    height: 100%;
    overflow-y: scroll;

    .sub_container {
        padding: 1rem;
        border-radius: 4px;
        justify-content: space-between;

        .full_width {
            width: 100%;
        }
    }
}