.container {
    .toolBar {
        width: 100%;
        padding: 0.5rem 4rem;
        justify-content: space-between;
        box-shadow: 0 2px 10px -2px #0000001a;
        position: sticky;
        top: 65.6px;
        left: 0;
        right: 0;
        z-index: 1;

        .toolBar_cvName {
            width: 300px;
        }

        .toolBar_saveBtn {
            width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .resume {
        width: 100%;
        padding: 4rem 4rem 10rem 4rem;
        justify-content: center;

        .resume_container {
            max-width: 792px;
            width: 792px;
            min-height: 100vh;
            border: 1px solid #ccc;

            .resume_container_left {
                padding: 0.65rem;

                .resume_container_left_picture {
                    position: relative;
                    justify-content: center;
                    padding: 1rem;

                    &:hover,
                    &:focus-within {

                        .resume_container_left_picture_button {
                            transform: translateY(0);
                            opacity: 1;
                        }
                    }

                    img {
                        outline: 2px solid #1677f6;
                        object-fit: cover;
                    }

                    .resume_container_left_picture_button {
                        cursor: pointer;
                        position: absolute;
                        width: 60%;
                        height: 40px;
                        background-color: #1677f6;
                        bottom: 2rem;
                        border-radius: 6px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 1.1rem;
                        transform: translateY(2.5rem);
                        opacity: 0;
                        transition: all 0.2s ease-in-out;

                        .resume_container_left_picture_upload {
                            display: none;
                        }
                    }
                }

                .resume_container_left_info {
                    padding: 1rem 0.5rem;

                    &:hover {
                        outline: 1px solid #fff;
                    }

                    &:focus-within {
                        outline: 1px solid #fff;
                    }

                    .resume_container_left_info_title {
                        font-size: 1.5rem;
                    }

                    .resume_container_left_info_item {
                        width: 100%;
                        padding: 0.25rem 0.5rem;

                        &:hover,
                        &:focus-within {
                            outline: 1px dashed #fff;
                        }

                        .resume_container_left_info_item_icon {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            font-size: 1rem;
                        }

                        .resume_container_left_info_item_input {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            .resume_container_right {
                padding: 0.65rem 1.5rem 7rem 1.5rem;

                .resume_container_right_title {
                    padding: 0.5rem 0;

                    input:focus {
                        outline: 1px dashed #1677f6;
                    }

                    input:hover {
                        outline: 1px dashed #1677f6;
                    }
                }

                .resume_container_right_item {
                    position: relative;

                    &:focus-within {
                        outline: 1px dashed #1677f6;

                        .resume_container_right_item_icon {
                            display: block;
                        }
                    }

                    &:hover {
                        outline: 1px dashed #1677f6;

                        .resume_container_right_item_icon {
                            display: block;
                        }
                    }

                    .resume_container_right_item_icon {
                        position: absolute;
                        top: 0;
                        right: 0;
                        font-size: 1.2rem;
                        display: none;
                        transition: scale 0.1s ease-in;

                        &:hover {
                            scale: 1.2;
                            cursor: pointer;
                        }
                    }

                    .resume_container_right_item_sub {
                        position: relative;
                        width: 100%;
                        margin-bottom: 0.5rem;

                        &:focus-within {
                            outline: 1px dashed #1677f6;

                            .resume_container_right_item_sub_icon {
                                display: block;
                            }
                        }

                        &:hover {
                            outline: 1px dashed #1677f6;

                            .resume_container_right_item_sub_icon {
                                display: block;
                            }
                        }

                        .resume_container_right_item_sub_icon {
                            position: absolute;
                            top: 25%;
                            right: -20px;
                            font-size: 1.2rem;
                            color: red;
                            cursor: pointer;
                            display: none;
                        }
                    }

                    .resume_container_right_item_input {
                        border: none;
                        outline: none;
                        border-radius: 0;

                        &:hover {
                            outline: 1px dashed #1677f6;
                        }

                        &:focus-within {
                            outline: 1px dashed #1677f6;
                            box-shadow: none;
                        }
                    }

                    .resume_container_right_item_name {
                        margin: 0.5rem 0;

                        &:hover {
                            outline: 1px dashed #1677f6;
                        }

                        &:focus-within {
                            outline: 1px dashed #1677f6;
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}