.sub_container {
    display: block;
    border-radius: 10px;
    padding: 1rem;
}

.full_width {
    width: 100% !important;
}

.title_field {
    margin-bottom: 0.25rem !important;
    font-size: 1rem;
    font-weight: 500;
}